modules = ["python-3.12", "nix"]
compile = "make"
run = "npm start"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Training"

[[workflows.workflow]]
name = "Training"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/train.py"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "make"]
